:root {
    --background-color: #191927;
    --primary-color: #fff;
    --gray-secondary-color: #aaa;
    --card-BG-color: #2a2a3a;
    --hover-color: #2A2A3A;
    --button-bg-color: #202141;
    --round: 16px;
    --box-shadow: inset 0 0 5vw 1vw var(--button-bg-color);
}

body {
    background: radial-gradient(circle, rgba(2,0,36,1) 50%, rgba(0,92,195,1) 75%, rgba(9,9,121,1) 90%);
    color: var(--primary-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 2rem auto;
}

header {
    text-align: left;
    z-index: 2;
    margin: var(--round) 0;
}

a {
    text-decoration: none;
    color: var(--gray-secondary-color);
    background-color: var(--background-color);
    border-radius: var(--round);
    margin: calc(var(--round) + 0.1vw);
}
.linkWithIcon {
    position: relative;
    padding: 1.5rem 1rem 1.5rem 5em;
}
a.linkWithIcon::before {
    position: absolute;
    content: "";
    color: rgba(255, 255, 255, 0);
    background-image: url(../Defaultimages/Home.png);
    width: 57px;
    aspect-ratio: 1;
    opacity: 100%;
    right: 50%;
    top: 10%;
}

main {
    display: flex;
    flex-flow: column nowrap;
    margin: auto;
    gap: 3rem;
    align-items: flex-start;
    padding: 1rem;
    text-align: left;
}

img {
    float: right;
}
section {
    scale: 0;
    transition: all 1000ms ease-in-out;
}
section {
    width: 90ch;
    background-color: var(--card-BG-color);
    opacity: 0.88;
    padding: 3rem;
    border-radius: var(--round) calc(var(--round) + 10vw);
    box-shadow: var(--box-shadow);
    scale: 1;
}
section:nth-child(even) {
    align-self: flex-end;
    text-align: right;
    border-radius: calc(var(--round) + 20vw) var(--round);
}
section:nth-child(even) img {
    float: left;
}
section:nth-child(even) p {
    text-align: left;
}
section:nth-child(odd) p {
    text-align: right;
}